# Executables
*.exe
*.out
*.app

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Django ###
db.sqlite3

### Project Files ###
build/
source/functional_tests/screendumps/
mbs_venv/
