<!DOCTYPE HTML>
<html>
    <title>Stats for {{ name }}</title>

    <body>
        <div id="id_player_name">
            name: {{ name }}
        </div>
        <div id="id_bouts">
            bouts: {{ bouts_played }}
        </div>
        <div id="id_played_jams">
            jams: {{ num_jams }}
        </div>
        <div id="id_total_jams_available">
            total jams available: {{ total_jams_available }}
        </div>
        <div id="id_blocker_jams">
            blocker jams: {{ blocker_jams }}
        </div>
        <div id="id_jammer_jams">
            jammer jams: {{ jammer_jams }}
        </div>
        <div id="id_pivot_jams">
            pivot jams: {{ pivot_jams }}
        </div>

    </body>
</html>
